<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated musicgenerator -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="musicgenerator.presentation.MusicgeneratorModelWizardID"
            name="%_UI_MusicgeneratorModelWizard_label"
            class="musicgenerator.presentation.MusicgeneratorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MusicgeneratorModelFile.gif">
         <description>%_UI_MusicgeneratorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated musicgenerator -->
      <editor
            id="musicgenerator.presentation.MusicgeneratorEditorID"
            name="%_UI_MusicgeneratorEditor_label"
            icon="icons/full/obj16/MusicgeneratorModelFile.gif"
            extensions="musicgenerator"
            class="musicgenerator.presentation.MusicgeneratorEditor"
            contributorClass="musicgenerator.presentation.MusicgeneratorActionBarContributor">
      </editor>
   </extension>

</plugin>
